<h1>Listing comments</h1>

<% @comments.each do |comment| %>
    <p>
    <%= comment.body %>
    <br>
    <%= link_to 'Show', post_comment_path(@post, comment) %>
    <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
    <%= link_to 'Destroy', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <br>
<% end %>


<br />

<%= link_to 'New Comment', new_post_comment_path(@post) %>
